body {
    font-family: Arial, sans-serif;
    font-size: 20px;
}
.container {
    background-color: grey;
    border: 2px solid red;
    width: 500px;
    padding-left: 20px;
    box-sizing: border-box;
    margin-left: 100px;
}

h1 {
    color: blue;
    margin-left: 30px;
}

input {
    width: 300px;
    height: 35px;
}

select {
    width: 50px;
    height: 30px;
    margin-left: 60px;

}

button {
    width: 68px;
    height: 40px;
    font-size: 16px;
}

.footer {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 10px;
}
p {
    font-size: 30px;
}

input {
    font-size: 15px;
    padding-left: 10px;
}